*{
    margin: 0;
    padding: 0;
}

.contenedorcristhian{
    width: 1440px;
    margin: auto;
   
    margin-top: 50px;
      
    
}
.tittle_one{
    
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: hsl(228, 45%, 44%); 
    
    position: absolute;
    width: 55%;
    margin: auto;
    margin-left: 20%;
    
    
}

.contenedor_one{
    display: flex;
}


.tittle_two{
    
    margin: auto;
    width: 40%;
  
   margin-bottom: 10px;
  
    font-weight: bold;
    font-size: 20px;
    color: hsl(228, 45%, 44%); 
    margin-top: 60px;
}
.text_three{
    
   margin: auto;
   width: 40%;
   
}
.imgencristhian{
    margin-top: -60px;
    height: 500px;
    width: 600px;
    
  
}
.tittle_three{
    margin: auto;
    width: 40%;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: hsl(228, 45%, 44%); 
}